<div class="container-fluid">
	<h2>Courses</h2>
	<p>course works!</p>

	<img [src]="imageUrl" />
	<ul>
		<li *ngFor="let course of courses">
			{{ course }}
		</li>
	</ul>
	{{ title }}

	<input [(ngModel)]="email" (keyup.enter)="onKeyUp()">
	<button class="btn btn-primary" [class.active]="isActive" (click)="onSave($event)">Save</button>

	{{ day }}
</div>